{% extends 'base.html.twig' %}

{% block title %}MarketingMaterial{% endblock %}

{% block body %}
    <h1>MarketingMaterial</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marketing_material.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ marketing_material.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ marketing_material.description }}</td>
            </tr>
            <tr>
                <th>File_path</th>
                <td>{{ marketing_material.filePath }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_marketing_material_index') }}">back to list</a>

    <a href="{{ path('app_marketing_material_edit', {'id': marketing_material.id}) }}">edit</a>

    {{ include('marketing_material/_delete_form.html.twig') }}
{% endblock %}
