{% extends 'base.html.twig' %}

{% block title %}Tip{% endblock %}

{% block body %}
    <h1>Tip</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tip.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ tip.message }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ tip.role }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tip_index') }}">back to list</a>

    <a href="{{ path('app_tip_edit', {'id': tip.id}) }}">edit</a>

    {{ include('tip/_delete_form.html.twig') }}
{% endblock %}
