{% extends 'base.html.twig' %}

{% block title %}AppointmentCategory index{% endblock %}

{% block body %}
    <h1>AppointmentCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment_category in appointment_categories %}
            <tr>
                <td>{{ appointment_category.id }}</td>
                <td>{{ appointment_category.name }}</td>
                <td>
                    <a href="{{ path('app_appointment_category_show', {'id': appointment_category.id}) }}">show</a>
                    <a href="{{ path('app_appointment_category_edit', {'id': appointment_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_appointment_category_new') }}">Create new</a>
{% endblock %}
