{% extends 'base.html.twig' %}

{% block title %}IllnessReport{% endblock %}

{% block body %}
    <h1>IllnessReport</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ illness_report.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ illness_report.date ? illness_report.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ illness_report.reason }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_illness_report_index') }}">back to list</a>

    <a href="{{ path('app_illness_report_edit', {'id': illness_report.id}) }}">edit</a>

    {{ include('illness_report/_delete_form.html.twig') }}
{% endblock %}
