<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <!-- responsive design -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/icon.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="flex">
        <!-- z classes needed to make shadow of navbar appear -->
        <div class="z-40" {{ vue_component('Navbar', { 'role' : app.user.roles[0] is defined ? app.user.roles[0] : null }) }}></div>
        <div class="flex-grow" id="app">
            <div class="h-svh min-h-screen bg-first_bg flex flex-col">
                <!-- Header -->
                <header class="px-4 pt-3 flex flex-row items-center justify-between mb-3 max-w-svw">
                    <!-- Page title block einbinden auf der jeweiligen index.html.twig -->
                    <h1 class="text-main sm:text-3xl text-2xl font-semibold cursor-pointer truncate max-w-44 sm:max-w-none" onclick="location.reload();">{% block pageTitle %}{% endblock %}</h1>
                    <div {{ vue_component('UserMenu', { 'role' : app.user.roles[0] is defined ? app.user.roles[0] : null, 'userID' : app.user.id }) }}></div>
                </header>

                <!-- Content area -->
                <div class="flex-grow px-4 pb-4 overflow-auto">
                    <div class="relative h-[calc(100vh-80px)]">
                        <!--
                            Fenster erstellen mit absoluter Positionierung und % Werten für Breite und Höhe
                            für abstand zwischen mehreren Fenstern 8px abziehen

                            z.B. absolute right-0 top-0 bg-window_bg rounded-window shadow-window w-[calc(50%-8px)] h-full
                        -->
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>